@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .map
    position absolute
    top 0px
    left 0px
    width 100%
    bottom 0px
    .leaflet-popup-pane
      pointer-events none
      opacity 0.8
